{% block html_head %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header">
			<div class="contain-lg">
				{% block header %}
					<div class="site-header-inner">

						{% include 'partials/nav.twig' %}

					</div>
				{% endblock %}
			</div>
		</header>
		<main role="main" class="site-main">
			<div class="main-inner">
				<div class="main-content {{sidebar_class}}">
					{% block header_content %}{% endblock %}
					{% block content %}
						Sorry, no content
					{% endblock %}
					{% block footer_content %}{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="main-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</div>
		</main>
		<footer class="site-footer">
			{% block footer %}
				<div class="wrapper">
					{% include 'footer.twig' %}
				</div>
			{% endblock %}
		</footer>
		{{ function('wp_footer') }}
 {% block scripts %}
 	 <script type="text/javascript" src="{{theme.link}}/js/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="{{theme.link}}/js/jquery.bxslider.js"></script>
 	 <script src="{{theme.link}}/js/main.js" ></script>
	 <script>
	   jQuery(document).ready(function($) {
    		$('.slider').bxSlider({
				mode: 'horizontal',
				auto: true,
				autoStart: true,
				forceStart: true,
				minSlides: 3,
				maxSlides: 4,
				controls: false,
				infiniteLoop: true,
				adaptiveHeight: true,
				pager: true,
				autoControls: false
			});
    	});
	 </script>
 {% endblock %}
	</body>
</html>
